#pitem_0 {display: block; background-repeat: no-repeat; background-image: url(http://xpromo.frooition.com/160193/122022532989_A.jpg)}
#pitem_1 {display: block; background-repeat: no-repeat; background-image: url(http://xpromo.frooition.com/160193/112034408882_A.jpg)}
#pitem_2 {display: block; background-repeat: no-repeat; background-image: url(http://xpromo.frooition.com/160193/112034408978_A.jpg)}
#pitem_3 {display: block; background-repeat: no-repeat; background-image: url(http://xpromo.frooition.com/160193/112034409016_A.jpg)}
#promo_default { display: none;}
