#main {
    display: -webkit-flex;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

#main-logo {
    height: 75px;
}

#meta-data {
    margin-top: 10px;
    margin-bottom: -10px;
}

#middle-line {
    float: left;
    width: 5px;
    margin-left: -15px;
    background-color: {{ colors.accent }};
}

.accent-color {
    background: {{ colors.primary }};
    border: solid darkgrey 1px;
}

.fill-height {
    height: 100%;
}

.center-height {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    margin: 0;
}

.black-line {
    background: {{ colors.secondary }};
    height: 5px;
    margin-top: 5%;
}


/*************/
/* TAB STYLE */
/*************/

.tabbed-area label {
    color: white;
    /* to help center the text vertically */
    padding-top: 0.5%;
}

input {
    display: none;
}

#terms1,
#terms2,
#terms3,
#terms4 {
    display: none;
}

.tab-content {
    display: block;
}

#shipping-tab+label {
    display: inline-block;
    height: 33px;
    width: 25%;
    background-color: {{ colors.secondary }};
}

#shipping-tab:checked+label {
    background-color: {{ colors.primary }};
}

#terms-tab+label {
    display: inline-block;
    height: 33px;
    width: 25%;
    background-color: {{ colors.secondary }};
}

#terms-tab:checked+label {
    background-color: {{ colors.primary }};
}

#payment-tab+label {
    display: inline-block;
    height: 33px;
    width: 25%;
    background-color: {{ colors.secondary }};
}

#payment-tab:checked+label {
    background-color: {{ colors.primary }};
}

#about-tab+label {
    display: inline-block;
    height: 33px;
    width: 25%;
    background-color: {{ colors.secondary }};
}

#about-tab:checked+label {
    background-color: {{ colors.primary }};
}

#shipping-tab:checked~.tab-content#terms1,
#terms-tab:checked~.tab-content#terms2,
#payment-tab:checked~.tab-content#terms3,
#about-tab:checked~.tab-content#terms4 {
    display: inline-block;
}

.other-stuff {
    font-size: 2em;
}

.head-title {
    background: url('https://s3.amazonaws.com/savemyserver/SPF/images/shared_linkover.png');
    color: #e5e5e5;
}

/***********************/
/* Right header styles */
/***********************/
#call {
    background: url('https://s3.amazonaws.com/savemyserver/SPF/images/shared_linkover.png');
    float: right;
    clip-path: polygon(6% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(6% 0%, 100% 0%, 100% 100%, 0% 100%);

    /*   padding: 10px 40px 0px 5px; */
    text-align: right;
    height: 43px;
    width: 100%;
    /*   display: inline-block; */
}
#call p {
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.03em;
    margin: 8px 27px;
}
#greeting {
    float: right;
    letter-spacing: 0.02px;
    font-size: 1.3em;
    font-weight: bold;
}
#payment {
}
.small-card {
    background: url('https://s3.amazonaws.com/savemyserver/SPF/images/cards.jpg');
    background-size: 150px;
    display: inline-block;
    height: 29px;
    width: 45px;
    /*   border: solid; */
}

#paypal {
    /*  this is mostly taken care of by the .small-card class  */
}

#visa {
    background-position: 0px -37px;
}

#master-card {
    background-position: 0px -73px;
}

#citrus {
    background-position: -105px -1px;
}

#maestro {
    background-position: -53px -73px;
}

/**********************/
/* Header line styles */
/**********************/

#header-line {
    height: 5px;
    clear: both;
}

/*******************/
/* Side Bar Styles */
/*******************/


.boxtitle {
    background: url("https://d3upwncywg1ue2.cloudfront.net/SPF/images/shared_linktitle.png");
    color: #fff;
    height: 30px;
    padding: 1px 10px;
    clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
}

.sub-cat {
    padding-left: 8px;
    font-size: 0.9em;
}

.sub-cat>a:before {
    content: "";
    margin: 0px 8px 4px 0px;
    height: 2px;
    width: 4px;
    background: #555;
    display: inline-block;
}

ul.categories,
.boxlinks {
    font-size: 1em;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

ul.categories ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

ul.categories li {
    padding: 0px;
    margin: 0px;
    display: block;
}

ul.categories li a,
.boxlinks a {
    text-align: left;
    padding: 5px;
    background: none;
    display: block;
    border-top: none;
    border-bottom: none;
    color: #686666;
    text-decoration: none;
    padding: 5px;
    width: 100%;
    height: auto;
}

ul.categories li a:hover,
.boxlinks a:hover {
    background: url("https://d3upwncywg1ue2.cloudfront.net/SPF/images/shared_linkover.png");
    color: #fff;
    border-top: none;
    border-bottom: none;
    text-decoration: none;
}

ul.categories li:first-child,
.boxlinks:first-child {
    border-top: none;
}

ul.categories li:first-child:hover,
.boxlinks:first-child:hover {
    border-top: none;
}

#categories .boxtitle,
#helpful_links,
.categories .boxtitle,
.categories h2.boxtitle,
.pages .boxtitle {
    background: url("https://d3upwncywg1ue2.cloudfront.net/SPF/images/shared_linktitle.png");
    color: #fff;
    height: 30px;
    padding: 1px 10px;
}

#categories a:after {
    color: #686666;
    font-size: 10px;
    font-weight: normal;
}

#categories a:hover:after {
    color: #fff;
}

#categories .boxtitle {
    display: none;
}

/*****************/
/* Footer styles */
/*****************/

#footer-block {
    padding: 10px 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(50,50,50,0) 80%,rgba(200,200,200,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.cert-logos {
    height: 60px;
}

/************************/
/* Image Gallery Styles */
/************************/

.leftarrow,
.rightarrow {
    display: none;
    height: 100%;
    top: 0px;
    width: 10%;
    position: absolute;
    z-index: 5;
    padding: 1%;
    cursor: pointer;
    opacity: 0.4;
}

.leftarrow:hover,
.rightarrow:hover {
    opacity: 0.7;
}

.leftarrow span,
.rightarrow span {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 35px;
    color: #eee;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.leftarrow {
    left: 15px;
    text-align: left;
}

.leftarrow span:before {
    content: "\f0a8";
    font-family: "fontawesome";
}

.rightarrow {
    right: 15px;
    text-align: right;
}

.rightarrow span:before {
    content: "\f0a9";
    font-family: "fontawesome";
}

.g_image:first-child .leftarrow {
    display: none;
}

.rightarrow[data-next-image=""],
.rightarrow[data-next-image="<!-- missing"] {
    display: none;
}

.g_image .thumbimage li {
    border: 1px solid #ccc;
    width: 76px;
    height: 76px;
    margin-bottom: 5px;
    transition: opacity 0.5s;
    opacity: 1;
    position: relative;
    cursor: pointer;
    color: #fff;
    text-align: center;
    position: relative;
    display: block;
    padding: 1px;
    background: #fff;
}

.g_image .thumbimage li:hover {
    opacity: 0.7;
}

.g_image .thumbimage li img {
    max-width: 72px;
    max-height: 72px;
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#gallery [type=radio]:checked~.thumbimage li {
    border: 1px solid #0090d7;
}

#gallery_outer_1,
#gallery_outer_3 {
    position: relative;
    clear: both;
    margin: 0px 0px 20px 0px;
}

.g_image [type=radio] {
    display: none;
}

.mainimage {
    position: absolute;
    top: 0px;
    margin: 0px 0px 0px 0px;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    animation-name: lightboxout;
    animation-duration: 0.5s;
}

@keyframes lightbox {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes lightboxout {
    from {
        transform: scale(1.5);
    }
    to {
        background: rgba(0, 0, 0, 0);
        transform: scale(1);
    }
}

#gallery [type=radio]:checked~.thumbimage {
    color: #fff;
    z-index: 1;
}

#gallery [type=radio]:checked~.mainimage {
    opacity: 1;
    z-index: 2;
    padding: 0px 0px 0px 0px;
}

#gallery_outer_1 .g_image[data=""] {
    display: none;
}

#gallery [type=checkbox]:checked~.mainimage {
    right: 0px;
    z-index: 100;
    background: #fff;
}

#gallery [type=checkbox]:checked~.mainimage img {
    display: block;
    margin: 0px auto;
}

.mainimagecb {
    display: none;
}

#gallery_outer_1,
#gallery_outer_1 .mainimage,
#gallery_outer_1 #gallery,
#gallery_outer_1 .mainimage div {
    height: 324px;
    width: auto;
}

#gallery_outer_1 .mainimage {
    left: 112px;
    min-width: 628px;
}

#gallery_outer_1 #gallery {
    box-sizing: border-box;
    clear: both;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
    padding: 0px 5px 0px 8px;
    margin: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #gallery_outer_1 #gallery {
        padding: 0px 0px 0px 20px;
    }
}

@supports (-ms-accelerator:true) {
    #gallery_outer_1 #gallery {
        padding: 0px 0px 0px 10px;
    }
}

#gallery_outer_1 div#gallery::-webkit-scrollbar {
    width: 8px;
    height: 20px;
}

#gallery_outer_1 div#gallery::-webkit-scrollbar-button {
    background-color: #ccc;
}

#gallery_outer_1 div#gallery::-webkit-scrollbar-track {
    background-color: #ccc;
}

#gallery_outer_1 div#gallery::-webkit-scrollbar-track-piece {
    background-color: #ccc;
}

#gallery_outer_1 div#gallery::-webkit-scrollbar-thumb {
    height: 90px;
    background-color: #0090d7;
    border-radius: 3px;
}

#gallery_outer_1 div#gallery::-webkit-scrollbar-corner {
    background-color: #f00;
}

#gallery_outer_1 div#gallery::-webkit-resizer {
    background-color: #666;
}

#gallery_outer_1 .g_image {
    float: Left;
    clear: both;
}

#gallery_outer_1 .g_image .thumbimage {
    margin: 0px 0px 5px 0px;
}

#gallery_outer_1 .mainimage img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#gallery_outer_2 .g_image {
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 5px 0px;
}

#gallery_outer_2 .g_image img {
    max-width: 100%;
}

#gallery_outer_2 .g_image[data=""] {
    display: none;
}

#gallery_outer_3 {
    height: auto;
    width: 100%;
}

#gallery_outer_3 .mainimage,
#gallery_outer_3 .mainimage div {
    height: 500px;
    width: 100%;
}

#gallery_outer_3 #gallery {
    height: auto;
    width: 100%;
    padding-top: 500px;
}

#gallery_outer_3 .mainimage {
    left: 0px;
}

#gallery_outer_3 #gallery {
    box-sizing: border-box;
    text-align: center;
}

#gallery_outer_3 .g_image {
    display: inline-block;
    height: 76px;
    margin-bottom: 5px;
}

#gallery_outer_3 .g_image .thumbimage {
    margin: 10px 3px;
}

#gallery_outer_3 .g_image .thumbimage li {
    margin-right: 3px;
}

#gallery_outer_3 .mainimage img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#gallery_outer_3 #gallery [type=checkbox]:checked~.mainimage,
#gallery_outer_1 #gallery [type=checkbox]:checked~.mainimage {
    animation-name: lightbox;
    animation-duration: 0.5s;
    padding: 0px;
    position: fixed;
    width: 100vw;
    left: 0px;
    right: 0px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

#gallery_outer_3 #gallery [type=checkbox]:checked~.mainimage>div,
#gallery_outer_1 #gallery [type=checkbox]:checked~.mainimage>div {
    background: #fff;
    position: static;
    position: relative;
    box-sizing: content-box;
    top: 0px;
    max-height: 80vh;
    width: 100%;
    height: auto;
    max-width: 60vw;
    margin: auto;
    margin-top: 10vh;
    padding: 10px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.4);
    border-radius: 6px 6px 0px 0px;
}

#gallery_outer_3 #gallery [type=checkbox]:checked~.mainimage>div img,
#gallery_outer_1 #gallery [type=checkbox]:checked~.mainimage>div img {
    max-height: 80vh;
    transform: none;
    top: auto;
}

#gallery_outer_3 #gallery [type=checkbox]:checked~.mainimage>div::after,
#gallery_outer_1 #gallery [type=checkbox]:checked~.mainimage>div::after {
    background: #fff;
    border-radius: 0px 0px 6px 6px;
    color: #666;
    content: "Click to close";
    font-size: 16px;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

#gallery_outer_3 .g_image[data=""],
#gallery_outer_1 .g_image[data*="<!-- missing"],
#gallery_outer_2 .g_image[data*="<!-- missing"],
#gallery_outer_3 .g_image[data*="<!-- missing"] {
    display: none;
}

tr:nth-child(even) {
    background: #ddd;
}